@model IEnumerable<string>

@{
    ViewBag.Title = "Countries";
}

<h1>countries</h1>
<div class="box">
<ul class="list">
    @foreach (string country in Model)
    {
        <li>@country</li>
    }
</ul>
</div>